h3 {
  color: lab(97.87% -9.94 -3.38);
  background-color: rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.a {
  /* Color */
  /* background-color: red; */

  /* Size */
  width: 100%;
  max-width: 400px;
  /* height: 400px;   */
  /* Not recommended because text can flow out of the height
    It is best to avoid setting height */
  height: 70vh;
  /* used mostly on landing pages, vw can be used for width */

  /* Fonts */
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, sans-serif;

  /* Border */
  /* border-width: 4px;
  border-style: solid;
  border-color: blue; */
  border: 4px solid blue;
}

/* Specificity and Selectors */

/* ID'S (Most Specific) */
#first-paragraph {
  color: green;
}

/* Classes (Less Specific) */
.paragraph-1 {
  color: blueviolet;
}

/* Generics (Least Specific) */
p {
  color: black;
}

/* extras
#first-paragraph.paragraph-1.red {
    color: red;
}
   
p.paragraph-1.red {
    color: yellow
}
    !important makes ANY ID, Class, or Gerneic the priority
    */

/* Box Model */
.box-1 {
  width: 200px;
  height: 150px;
  border: 8px solid red;
  /* padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px; */
  padding: 16px 16px 16px 16px;
  /* works like a clock, top, right, bottom, left */
  margin: 16px;
  /* one value makes all sides have same */
  /* two values make it so 1st sets top & bottom, 2nd sets left & right */
  box-sizing: border-box;
}
.box {
  width: 200px;
  border: 4px solid red;
  box-sizing: border-box;
  padding: 24px;
  margin: 16px;
}

/* Positioning */

/* Static: Default, follows normal flow of page */

/* Relative -- follows normal flow, but can change
    position by using top, right, bottom, left */
.title {
  background-color: red;
  position: relative;
  top: 120px;
  left: 30px;
}

/* Absolute -- doesn't follow normal flow
    can change positon like relative
    positon is based on the nearest "position: relative" parent 
    also only takes necessary width to hold content */
.title-2 {
  background-color: red;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.parent {
  height: 200px;
  background-color: red;
  position: relative;
}

.child {
  width: 64px;
  height: 64px;
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
}

/* More CSS Position Values
    
Fixed: doesn't follow flow
    changes position by t, r, b, l 
    position will be based on the screen 
    
Sticky: follows flow until the user scrolls past 
    a certain point, then it becomes fixed
*/

/* Media Queries */

.title-3 {
    font-size: 52px;
}

.paragraph {
    font-size: 24px;
    color: black;
}

/* Common CSS Breakpoints (max-width)
    Small Smartphones- 480px
    Large Smartphones- 640px
    Tablets- 768px
    Laptops- 1024px
    Desktops- 1280px */

@media (max-width: 640px) {
    .title-3 {
        font-size: 36px
    }

    .paragraph {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .title-3 {
        font-size: 32px
    }

    .paragraph {
        font-size: 20px;
    }
}

/* Psuedo Selectors */

button {
    transition: 300ms;
}
button:hover {
    opacity: 30%;
    background-color: red;
    padding: 4px;
}

/* Psuedo Elements */
.name::before {
    content: "Hey my name is ";
    background-color: yellow;
    margin: 8px;
}

.name::after {
    content: "!";
}


/* Animations */
.name {
    transform: translateY(16px);
    animation: pointdown 1s infinite alternate-reverse
}
@keyframes pointdown {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(16px);
    }
}

/* BEM - Block Element Modifier */
/* Naming Method: block__element--modifier */
/* B - Block (Standalone Component) */
/* E - Element (Parts of the block) */
/* M - Modifier (Variations/modification of blocks and elements) */
/* Example */
     /* <div class = "box">
        <h2 class = box__title>Text</h2>
        <p class = "box__paragraph">Text</p>
        <button class = "box__button box__button--active">Text</button>
        </div> */